<h2>New customer form</h2>
<form #customerForm="ngForm" (ngSubmit)="createCustomer(customerForm)">
  <label for="customerName">Cusromer Name</label>
  <input type="text" name="customerName" ngModel required #customerName="ngModel" [(ngModel)]="newCustomer.customerName" minlength="5" />
  <small *ngIf="customerName.invalid">Please choose an customer name (minimum 5 characters)</small>
  <label for="customerType">Customer Type</label>
  <select name="customerType" required #customerType="ngModel" ngModel placeholder="Please select" [(ngModel)]="newCustomer.customerType">
    <option *ngFor="let ctype of customerTypes">{{ctype}}</option>
  </select>
  <small *ngIf="customerType.invalid">Please select a valid type</small>
  <button type="submit" [disabled]="customerForm.invalid">Add Customer</button>
</form>



<h2>Customer list</h2>
<table spacing="0">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.customerName}}</td>
      <td>{{customer.customerType}}</td>
      <td>
        <a [routerLink]="['/customer', customer.customerId]">Open</a>
      </td>
    </tr>
  </tbody>
</table>
